@font-face {
  font-family: "Pokemon";
  src: url("fonts/Pokemon\ Solid.ttf");
}

body {
  line-height: 1;
  letter-spacing: 2px;
  font-family: "Pokemon";
}

.wrapper {
  display: flex;
  justify-content: center;
}

.bgimg {
  width: 100%;
  height: 1500px;
  background-image: url("https://cdn.shopify.com/s/files/1/0634/7194/3915/articles/4edccb1f634bb1b24989c7e836cf9e0f_380x278_crop_center.jpg?v=1680704110");
  background-repeat: repeat;
  background-size: auto;
  display: flex;
  justify-content: center;
}

.card-body {
  background: #eeda25;
  background: -webkit-linear-gradient(top left, #eeda25, #cfb4e3);
  background: -moz-linear-gradient(top left, #eeda25, #cfbs4e3);
  background: linear-gradient(to bottom right, #eeda25, #cfb4e3);
}

.card {
  margin: 15px;
  border: 1px solid lightblue;
  border-radius: 10%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardheader {
  font-size: 18px;
}

.cardcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 1000px;
  top: 100px;
  bottom: 200px;
}

.card-title {
  border: solid 1px lightblue;
  text-align: center;
}

.availability {
  background-color: darkgrey;
  color: yellow;
}
.card-text {
}

.image {
  display: flex;
  justify-content: center;
}

.img-fluid {
  max-width: 70%;
  height: auto;
}

h2 {
  font-size: 18px;
  font-weight: 900;
}

h5 {
  margin-bottom: 0px;
  font-size: 18px;
}

.specification {
  font-weight: bold;
  font-size: 12px;
}

.cardfoot {
  margin: 5px;
  font-size: 8px;
}

.pricing {
  margin-top: 10px;
}

p {
  margin: 2px;
}
